/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-feb-2018, 16:35:29
    Author     : alu2015059
*/

#parteSuperior{
    display: inline-block;
    background-color: goldenrod;
}

#contenido{
    border-style: solid;
    width: 555px;
}

#tabla{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

#td{
    border-width: 50px;
}

.nuevaTarea{
    display: inline-block;
    border-style: double;
    border-color: blue;
    background-color: seagreen;
    width: 300px;
    text-align: center;
}

.nuevoAlumno{
    display: inline-block;
    border-style: double;
    border-color: blue;
    background-color: seagreen;
    width: 300px;
    text-align: center;
}

.Examen{
    display: inline-block;
    border-style: double;
    border-color: blue;
    background-color: seagreen;
    width: 300px;
    text-align: center;
}